swagger: '2.0'
info:
  description: The Azure Storage Management API.
  title: StorageManagementClient BlobContainers PrivateLinkResources API
  version: '2019-06-01'
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/blob.json
    version: '2.0'
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: storage-blob
  x-tags:
  - Azure
  - Microsoft
host: management.azure.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- azure_auth:
  - user_impersonation
tags:
- name: PrivateLinkResources
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/privateLinkResources
  : get:
      description: Gets the private link resources that need to be created for a storage account.
      operationId: PrivateLinkResources_ListByStorageAccount
      parameters:
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/StorageAccountName'
      - description: The API version to use for this operation.
        in: query
        minLength: 1
        name: api-version
        required: true
        type: string
        example: '2019-06-01'
      - description: The ID of the target subscription.
        in: path
        minLength: 1
        name: subscriptionId
        required: true
        type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successfully retrieved private link resources.
          schema:
            $ref: '#/definitions/PrivateLinkResourceListResult'
      tags:
      - PrivateLinkResources
      x-ms-examples:
        StorageAccountListPrivateLinkResources:
          parameters:
            accountName: sto2527
            api-version: '2019-06-01'
            monitor: 'true'
            resourceGroupName: res6977
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                value:
                - id: /subscriptions/{subscription-id}/resourceGroups/res6977/providers/Microsoft.Storage/storageAccounts/sto2527/privateLinkResources/blob
                  name: blob
                  properties:
                    groupId: blob
                    requiredMembers:
                    - blob
                    requiredZoneNames:
                    - privatelink.blob.core.windows.net
                  type: Microsoft.Storage/storageAccounts/privateLinkResources
                - id: /subscriptions/{subscription-id}/resourceGroups/res6977/providers/Microsoft.Storage/storageAccounts/sto2527/privateLinkResources/blob_secondary
                  name: blob_secondary
                  properties:
                    groupId: blob_secondary
                    requiredMembers:
                    - blob_secondary
                    requiredZoneNames:
                    - privatelink.blob.core.windows.net
                  type: Microsoft.Storage/storageAccounts/privateLinkResources
                - id: /subscriptions/{subscription-id}/resourceGroups/res6977/providers/Microsoft.Storage/storageAccounts/sto2527/privateLinkResources/table
                  name: table
                  properties:
                    groupId: table
                    requiredMembers:
                    - table
                    requiredZoneNames:
                    - privatelink.table.core.windows.net
                  type: Microsoft.Storage/storageAccounts/privateLinkResources
                - id: /subscriptions/{subscription-id}/resourceGroups/res6977/providers/Microsoft.Storage/storageAccounts/sto2527/privateLinkResources/table_secondary
                  name: table_secondary
                  properties:
                    groupId: table_secondary
                    requiredMembers:
                    - table_secondary
                    requiredZoneNames:
                    - privatelink.table.core.windows.net
                  type: Microsoft.Storage/storageAccounts/privateLinkResources
                - id: /subscriptions/{subscription-id}/resourceGroups/res6977/providers/Microsoft.Storage/storageAccounts/sto2527/privateLinkResources/dfs
                  name: dfs
                  properties:
                    groupId: dfs
                    requiredMembers:
                    - dfs
                    requiredZoneNames:
                    - privatelink.dfs.core.windows.net
                  type: Microsoft.Storage/storageAccounts/privateLinkResources
                - id: /subscriptions/{subscription-id}/resourceGroups/res6977/providers/Microsoft.Storage/storageAccounts/sto2527/privateLinkResources/dfs_secondary
                  name: dfs_secondary
                  properties:
                    groupId: dfs_secondary
                    requiredMembers:
                    - dfs_secondary
                    requiredZoneNames:
                    - privatelink.dfs.core.windows.net
                  type: Microsoft.Storage/storageAccounts/privateLinkResources
      summary: Azure Storage Accounts Private Link Resources_ List by Storage Account
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
definitions:
  PrivateLinkResourceProperties:
    description: Properties of a private link resource.
    properties:
      groupId:
        description: The private link resource group id.
        readOnly: true
        type: string
      requiredMembers:
        description: The private link resource required member names.
        items:
          type: string
        readOnly: true
        type: array
      requiredZoneNames:
        description: The private link resource Private link DNS zone name.
        items:
          type: string
        type: array
  PrivateLinkResource:
    allOf:
    - properties:
        id:
          description: Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
          readOnly: true
          type: string
        name:
          description: The name of the resource
          readOnly: true
          type: string
        type:
          description: The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.
          readOnly: true
          type: string
      x-ms-azure-resource: true
    description: A private link resource
    properties:
      properties:
        $ref: '#/definitions/PrivateLinkResourceProperties'
        description: Resource properties.
        x-ms-client-flatten: true
  PrivateLinkResourceListResult:
    description: A list of private link resources
    properties:
      value:
        description: Array of private link resources
        items:
          $ref: '#/definitions/PrivateLinkResource'
        type: array
parameters:
  ResourceGroupName:
    description: The name of the resource group within the user's subscription. The name is case insensitive.
    in: path
    maxLength: 90
    minLength: 1
    name: resourceGroupName
    pattern: ^[-\w\._\(\)]+$
    required: true
    type: string
    x-ms-parameter-location: method
  StorageAccountName:
    description: The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    in: path
    maxLength: 24
    minLength: 3
    name: accountName
    required: true
    type: string
    x-ms-parameter-location: method
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
