swagger: '2.0'
info:
  description: The Azure Storage Management API.
  title: StorageManagementClient BlobContainers StorageAccounts API
  version: '2.0'
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/blob.json
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: storage-blob
  x-tags:
  - Azure
  - Microsoft
host: management.azure.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- azure_auth:
  - user_impersonation
tags:
- name: StorageAccounts
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Storage/checkNameAvailability:
    post:
      description: Checks that the storage account name is valid and is not already in use.
      operationId: StorageAccounts_CheckNameAvailability
      parameters:
      - description: The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
        in: body
        name: accountName
        required: true
        schema:
          $ref: '#/definitions/StorageAccountCheckNameAvailabilityParameters'
        example: example-value
      - description: The API version to use for this operation.
        in: query
        minLength: 1
        name: api-version
        required: true
        type: string
        example: '2019-06-01'
      - description: The ID of the target subscription.
        in: path
        minLength: 1
        name: subscriptionId
        required: true
        type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: OK -- Operation to check the storage account name availability was successful.
          schema:
            $ref: '#/definitions/CheckNameAvailabilityResult'
      tags:
      - StorageAccounts
      x-ms-examples:
        StorageAccountCheckNameAvailability:
          parameters:
            accountName:
              name: sto3363
              type: Microsoft.Storage/storageAccounts
            api-version: '2019-06-01'
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                nameAvailable: true
      summary: Azure Storage Accounts Storage Accounts_ Check Name Availability
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /subscriptions/{subscriptionId}/providers/Microsoft.Storage/storageAccounts:
    get:
      description: Lists all the storage accounts available under the subscription. Note that storage keys are not returned; use the ListKeys operation for this.
      operationId: StorageAccounts_List
      parameters:
      - description: The API version to use for this operation.
        in: query
        minLength: 1
        name: api-version
        required: true
        type: string
        example: '2019-06-01'
      - description: The ID of the target subscription.
        in: path
        minLength: 1
        name: subscriptionId
        required: true
        type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: OK -- List of storage accounts was retrieved and returned successfully.
          schema:
            $ref: '#/definitions/StorageAccountListResult'
      tags:
      - StorageAccounts
      x-ms-examples:
        StorageAccountList:
          parameters:
            api-version: '2019-06-01'
            monitor: 'true'
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                value:
                - id: /subscriptions/{subscription-id}/resourceGroups/res2627/providers/Microsoft.Storage/storageAccounts/sto1125
                  kind: Storage
                  location: eastus2euap
                  name: sto1125
                  properties:
                    creationTime: '2017-05-24T13:28:53.4540398Z'
                    encryption:
                      keySource: Microsoft.Storage
                      services:
                        blob:
                          enabled: true
                          keyType: Account
                          lastEnabledTime: '2019-12-11T20:49:31.7036140Z'
                        file:
                          enabled: true
                          keyType: Account
                          lastEnabledTime: '2019-12-11T20:49:31.7036140Z'
                    isHnsEnabled: true
                    primaryEndpoints:
                      blob: https://sto1125.blob.core.windows.net/
                      dfs: https://sto1125.dfs.core.windows.net/
                      file: https://sto1125.file.core.windows.net/
                      internetEndpoints:
                        blob: https://sto1125-internetrouting.blob.core.windows.net/
                        dfs: https://sto1125-internetrouting.dfs.core.windows.net/
                        file: https://sto1125-internetrouting.file.core.windows.net/
                        web: https://sto1125-internetrouting.web.core.windows.net/
                      microsoftEndpoints:
                        blob: https://sto1125-microsoftrouting.blob.core.windows.net/
                        dfs: https://sto1125-microsoftrouting.dfs.core.windows.net/
                        file: https://sto1125-microsoftrouting.file.core.windows.net/
                        queue: https://sto1125-microsoftrouting.queue.core.windows.net/
                        table: https://sto1125-microsoftrouting.table.core.windows.net/
                        web: https://sto1125-microsoftrouting.web.core.windows.net/
                      queue: https://sto1125.queue.core.windows.net/
                      table: https://sto1125.table.core.windows.net/
                      web: https://sto1125.web.core.windows.net/
                    primaryLocation: eastus2euap
                    provisioningState: Succeeded
                    routingPreference:
                      publishInternetEndpoints: true
                      publishMicrosoftEndpoints: true
                      routingChoice: MicrosoftRouting
                    secondaryLocation: centraluseuap
                    statusOfPrimary: available
                    statusOfSecondary: available
                    supportsHttpsTrafficOnly: false
                  sku:
                    name: Standard_GRS
                    tier: Standard
                  tags:
                    key1: value1
                    key2: value2
                  type: Microsoft.Storage/storageAccounts
                - id: /subscriptions/{subscription-id}/resourceGroups/testcmk3/providers/Microsoft.Storage/storageAccounts/sto3699
                  identity:
                    principalId: 356d057d-cba5-44dd-8a30-b2e547bc416b
                    tenantId: 72f988bf-86f1-41af-91ab-2d7cd011db47
                    type: SystemAssigned
                  kind: Storage
                  location: eastus2euap
                  name: sto3699
                  properties:
                    creationTime: '2017-05-24T10:06:30.6093014Z'
                    primaryEndpoints:
                      blob: https://sto3699.blob.core.windows.net/
                      file: https://sto3699.file.core.windows.net/
                      queue: https://sto3699.queue.core.windows.net/
                      table: https://sto3699.table.core.windows.net/
                    primaryLocation: eastus2euap
                    provisioningState: Succeeded
                    secondaryLocation: centraluseuap
                    statusOfPrimary: available
                    statusOfSecondary: available
                    supportsHttpsTrafficOnly: false
                  sku:
                    name: Standard_GRS
                    tier: Standard
                  tags:
                    key1: value1
                    key2: value2
                  type: Microsoft.Storage/storageAccounts
                - id: /subscriptions/{subscription-id}/resourceGroups/testcmk3/providers/Microsoft.Storage/storageAccounts/sto6637
                  identity:
                    principalId: 911871cc-ffd1-4fc4-ac11-7a316433ea66
                    tenantId: 72f988bf-86f1-41af-91ab-2d7cd011db47
                    type: SystemAssigned
                  kind: Storage
                  location: eastus2euap
                  name: sto6637
                  properties:
                    creationTime: '2017-05-24T10:09:39.5625175Z'
                    primaryEndpoints:
                      blob: https://sto6637.blob.core.windows.net/
                      file: https://sto6637.file.core.windows.net/
                      queue: https://sto6637.queue.core.windows.net/
                      table: https://sto6637.table.core.windows.net/
                    primaryLocation: eastus2euap
                    provisioningState: Succeeded
                    secondaryLocation: centraluseuap
                    statusOfPrimary: available
                    statusOfSecondary: available
                    supportsHttpsTrafficOnly: false
                  sku:
                    name: Standard_GRS
                    tier: Standard
                  tags:
                    key1: value1
                    key2: value2
                  type: Microsoft.Storage/storageAccounts
                - id: /subscriptions/{subscription-id}/resourceGroups/res8186/providers/Microsoft.Storage/storageAccounts/sto834
                  kind: Storage
                  location: eastus2euap
                  name: sto834
                  properties:
                    creationTime: '2017-05-24T13:28:20.8686541Z'
                    primaryEndpoints:
                      blob: https://sto834.blob.core.windows.net/
                      file: https://sto834.file.core.windows.net/
                      queue: https://sto834.queue.core.windows.net/
                      table: https://sto834.table.core.windows.net/
                    primaryLocation: eastus2euap
                    provisioningState: Succeeded
                    secondaryLocation: centraluseuap
                    statusOfPrimary: available
                    statusOfSecondary: available
                    supportsHttpsTrafficOnly: false
                  sku:
                    name: Standard_GRS
                    tier: Standard
                  tags:
                    key1: value1
                    key2: value2
                  type: Microsoft.Storage/storageAccounts
                - id: /subscriptions/{subscription-id}/resourceGroups/testcmk3/providers/Microsoft.Storage/storageAccounts/sto9174
                  identity:
                    principalId: 933e3ddf-1802-4a51-9469-18a33b576f88
                    tenantId: 72f988bf-86f1-41af-91ab-2d7cd011db47
                    type: SystemAssigned
                  kind: Storage
                  location: eastus2euap
                  name: sto9174
                  properties:
                    creationTime: '2017-05-24T09:46:19.6556989Z'
                    primaryEndpoints:
                      blob: https://sto9174.blob.core.windows.net/
                      file: https://sto9174.file.core.windows.net/
                      queue: https://sto9174.queue.core.windows.net/
                      table: https://sto9174.table.core.windows.net/
                    primaryLocation: eastus2euap
                    provisioningState: Succeeded
                    secondaryLocation: centraluseuap
                    statusOfPrimary: available
                    statusOfSecondary: available
                    supportsHttpsTrafficOnly: false
                  sku:
                    name: Standard_GRS
                    tier: Standard
                  tags:
                    key1: value1
                    key2: value2
                  type: Microsoft.Storage/storageAccounts
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Azure Storage Accounts Storage Accounts_ List
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts:
    get:
      description: Lists all the storage accounts available under the given resource group. Note that storage keys are not returned; use the ListKeys operation for this.
      operationId: StorageAccounts_ListByResourceGroup
      parameters:
      - $ref: '#/parameters/ResourceGroupName'
      - description: The API version to use for this operation.
        in: query
        minLength: 1
        name: api-version
        required: true
        type: string
        example: '2019-06-01'
      - description: The ID of the target subscription.
        in: path
        minLength: 1
        name: subscriptionId
        required: true
        type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: OK -- List of storage accounts in the given resource group retrieved and returned successfully.
          schema:
            $ref: '#/definitions/StorageAccountListResult'
      tags:
      - StorageAccounts
      x-ms-examples:
        StorageAccountListByResourceGroup:
          parameters:
            api-version: '2019-06-01'
            resourceGroupName: res6117
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                value:
                - id: /subscriptions/{subscription-id}/resourceGroups/res6117/providers/Microsoft.Storage/storageAccounts/sto4036
                  kind: Storage
                  location: eastus2euap
                  name: sto4036
                  properties:
                    creationTime: '2017-05-24T13:24:47.818801Z'
                    isHnsEnabled: true
                    primaryEndpoints:
                      blob: https://sto4036.blob.core.windows.net/
                      dfs: https://sto4036.dfs.core.windows.net/
                      file: https://sto4036.file.core.windows.net/
                      queue: https://sto4036.queue.core.windows.net/
                      table: https://sto4036.table.core.windows.net/
                      web: https://sto4036.web.core.windows.net/
                    primaryLocation: eastus2euap
                    provisioningState: Succeeded
                    secondaryLocation: centraluseuap
                    statusOfPrimary: available
                    statusOfSecondary: available
                    supportsHttpsTrafficOnly: false
                  sku:
                    name: Standard_GRS
                    tier: Standard
                  tags:
                    key1: value1
                    key2: value2
                  type: Microsoft.Storage/storageAccounts
                - id: /subscriptions/{subscription-id}/resourceGroups/res6117/providers/Microsoft.Storage/storageAccounts/sto4452
                  kind: Storage
                  location: eastus2euap
                  name: sto4452
                  properties:
                    creationTime: '2017-05-24T13:24:15.7068366Z'
                    primaryEndpoints:
                      blob: https://sto4452.blob.core.windows.net/
                      file: https://sto4452.file.core.windows.net/
                      queue: https://sto4452.queue.core.windows.net/
                      table: https://sto4452.table.core.windows.net/
                    primaryLocation: eastus2euap
                    provisioningState: Succeeded
                    secondaryLocation: centraluseuap
                    statusOfPrimary: available
                    statusOfSecondary: available
                    supportsHttpsTrafficOnly: false
                  sku:
                    name: Standard_GRS
                    tier: Standard
                  tags:
                    key1: value1
                    key2: value2
                  type: Microsoft.Storage/storageAccounts
      x-ms-pageable:
        nextLinkName: null
      summary: Azure Storage Accounts Storage Accounts_ List by Resource Group
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}
  : delete:
      description: Deletes a storage account in Microsoft Azure.
      operationId: StorageAccounts_Delete
      parameters:
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/StorageAccountName'
      - description: The API version to use for this operation.
        in: query
        minLength: 1
        name: api-version
        required: true
        type: string
        example: '2019-06-01'
      - description: The ID of the target subscription.
        in: path
        minLength: 1
        name: subscriptionId
        required: true
        type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: OK -- storage account deleted successfully.
        '204':
          description: NoContent -- account does not exist in the subscription.
      tags:
      - StorageAccounts
      x-ms-examples:
        StorageAccountDelete:
          parameters:
            accountName: sto2434
            api-version: '2019-06-01'
            monitor: 'true'
            resourceGroupName: res4228
            subscriptionId: '{subscription-id}'
          responses:
            '200': {}
            '204': {}
      summary: Azure Storage Accounts Storage Accounts_ Delete
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      description: Returns the properties for the specified storage account including but not limited to name, SKU name, location, and account status. The ListKeys operation should be used to retrieve storage keys.
      operationId: StorageAccounts_GetProperties
      parameters:
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/StorageAccountName'
      - description: The API version to use for this operation.
        in: query
        minLength: 1
        name: api-version
        required: true
        type: string
        example: '2019-06-01'
      - description: The ID of the target subscription.
        in: path
        minLength: 1
        name: subscriptionId
        required: true
        type: string
        example: 00000000-0000-0000-0000-000000000000
      - description: May be used to expand the properties within account's properties. By default, data is not included when fetching properties. Currently we only support geoReplicationStats and blobRestoreStatus.
        enum:
        - geoReplicationStats
        - blobRestoreStatus
        in: query
        name: $expand
        required: false
        type: string
        x-ms-enum:
          modelAsString: false
          name: StorageAccountExpand
        example: example-value
      responses:
        '200':
          description: OK -- properties retrieved successfully for the storage account.
          schema:
            $ref: '#/definitions/StorageAccount'
      tags:
      - StorageAccounts
      x-ms-examples:
        StorageAccountGetProperties:
          parameters:
            accountName: sto8596
            api-version: '2019-06-01'
            monitor: 'true'
            resourceGroupName: res9407
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                id: /subscriptions/{subscription-id}/resourceGroups/res9407/providers/Microsoft.Storage/storageAccounts/sto8596
                kind: Storage
                location: eastus2(stage)
                name: sto8596
                properties:
                  creationTime: '2017-06-01T02:42:41.7633306Z'
                  encryption:
                    keySource: Microsoft.Storage
                    services:
                      blob:
                        enabled: true
                        keyType: Account
                        lastEnabledTime: '2019-12-11T20:49:31.7036140Z'
                      file:
                        enabled: true
                        keyType: Account
                        lastEnabledTime: '2019-12-11T20:49:31.7036140Z'
                  geoReplicationStats:
                    canFailover: true
                    lastSyncTime: '2018-10-30T00:25:34Z'
                    status: Live
                  isHnsEnabled: true
                  networkAcls:
                    bypass: AzureServices
                    defaultAction: Allow
                    ipRules: []
                    virtualNetworkRules: []
                  primaryEndpoints:
                    blob: https://sto8596.blob.core.windows.net/
                    dfs: https://sto8596.dfs.core.windows.net/
                    file: https://sto8596.file.core.windows.net/
                    internetEndpoints:
                      blob: https://sto8596-internetrouting.blob.core.windows.net/
                      dfs: https://sto8596-internetrouting.dfs.core.windows.net/
                      file: https://sto8596-internetrouting.file.core.windows.net/
                      web: https://sto8596-internetrouting.web.core.windows.net/
                    microsoftEndpoints:
                      blob: https://sto8596-microsoftrouting.blob.core.windows.net/
                      dfs: https://sto8596-microsoftrouting.dfs.core.windows.net/
                      file: https://sto8596-microsoftrouting.file.core.windows.net/
                      queue: https://sto8596-microsoftrouting.queue.core.windows.net/
                      table: https://sto8596-microsoftrouting.table.core.windows.net/
                      web: https://sto8596-microsoftrouting.web.core.windows.net/
                    queue: https://sto8596.queue.core.windows.net/
                    table: https://sto8596.table.core.windows.net/
                    web: https://sto8596.web.core.windows.net/
                  primaryLocation: eastus2(stage)
                  provisioningState: Succeeded
                  routingPreference:
                    publishInternetEndpoints: true
                    publishMicrosoftEndpoints: true
                    routingChoice: MicrosoftRouting
                  secondaryLocation: northcentralus(stage)
                  statusOfPrimary: available
                  statusOfSecondary: available
                  supportsHttpsTrafficOnly: false
                sku:
                  name: Standard_GRS
                  tier: Standard
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Storage/storageAccounts
      summary: Azure Storage Accounts Storage Accounts_ Get Properties
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      description: The update operation can be used to update the SKU, encryption, access tier, or tags for a storage account. It can also be used to map the account to a custom domain. Only one custom domain is supported per storage account; the replacement/change of custom domain is not supported. In order to replace an old custom domain, the old value must be cleared/unregistered before a new value can be set. The update of multiple properties is supported. This call does not change the storage keys for the account. If you want to change the storage account keys, use the regenerate keys operation. The location and name of the storage account cannot be changed after creation.
      operationId: StorageAccounts_Update
      parameters:
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/StorageAccountName'
      - description: The parameters to provide for the updated account.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/StorageAccountUpdateParameters'
        example: example-value
      - description: The API version to use for this operation.
        in: query
        minLength: 1
        name: api-version
        required: true
        type: string
        example: '2019-06-01'
      - description: The ID of the target subscription.
        in: path
        minLength: 1
        name: subscriptionId
        required: true
        type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: OK -- storage account properties updated successfully.
          schema:
            $ref: '#/definitions/StorageAccount'
      tags:
      - StorageAccounts
      x-ms-examples:
        StorageAccountEnableAD:
          parameters:
            accountName: sto8596
            api-version: '2019-06-01'
            monitor: 'true'
            parameters:
              properties:
                azureFilesIdentityBasedAuthentication:
                  activeDirectoryProperties:
                    azureStorageSid: S-1-5-21-2400535526-2334094090-2402026252-0012
                    domainGuid: aebfc118-9fa9-4732-a21f-d98e41a77ae1
                    domainName: adtest.com
                    domainSid: S-1-5-21-2400535526-2334094090-2402026252
                    forestName: adtest.com
                    netBiosDomainName: adtest.com
                  directoryServiceOptions: AD
            resourceGroupName: res9407
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                id: /subscriptions/{subscription-id}/resourceGroups/res9407/providers/Microsoft.Storage/storageAccounts/sto8596
                kind: Storage
                location: eastus2(stage)
                name: sto8596
                properties:
                  azureFilesIdentityBasedAuthentication:
                    activeDirectoryProperties:
                      azureStorageSid: S-1-5-21-2400535526-2334094090-2402026252-0012
                      domainGuid: aebfc118-9fa9-4732-a21f-d98e41a77ae1
                      domainName: adtest.com
                      domainSid: S-1-5-21-2400535526-2334094090-2402026252
                      forestName: adtest.com
                      netBiosDomainName: adtest.com
                    directoryServiceOptions: AD
                  creationTime: '2017-06-01T02:42:41.7633306Z'
                  primaryEndpoints:
                    blob: https://sto8596.blob.core.windows.net/
                    dfs: https://sto8596.dfs.core.windows.net/
                    file: https://sto8596.file.core.windows.net/
                    queue: https://sto8596.queue.core.windows.net/
                    table: https://sto8596.table.core.windows.net/
                    web: https://sto8596.web.core.windows.net/
                  primaryLocation: eastus2(stage)
                  provisioningState: Succeeded
                  secondaryLocation: northcentralus(stage)
                  statusOfPrimary: available
                  statusOfSecondary: available
                  supportsHttpsTrafficOnly: false
                sku:
                  name: Standard_GRS
                  tier: Standard
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Storage/storageAccounts
        StorageAccountUpdate:
          parameters:
            accountName: sto8596
            api-version: '2019-06-01'
            monitor: 'true'
            parameters:
              properties:
                encryption:
                  keySource: Microsoft.Storage
                  services:
                    blob:
                      enabled: true
                      keyType: Account
                    file:
                      enabled: true
                      keyType: Account
                networkAcls:
                  defaultAction: Allow
                routingPreference:
                  publishInternetEndpoints: true
                  publishMicrosoftEndpoints: true
                  routingChoice: MicrosoftRouting
            resourceGroupName: res9407
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                id: /subscriptions/{subscription-id}/resourceGroups/res9407/providers/Microsoft.Storage/storageAccounts/sto8596
                kind: Storage
                location: eastus2(stage)
                name: sto8596
                properties:
                  creationTime: '2017-06-01T02:42:41.7633306Z'
                  encryption:
                    keySource: Microsoft.Storage
                    services:
                      blob:
                        enabled: true
                        keyType: Account
                        lastEnabledTime: '2019-12-11T20:49:31.7036140Z'
                      file:
                        enabled: true
                        keyType: Account
                        lastEnabledTime: '2019-12-11T20:49:31.7036140Z'
                  isHnsEnabled: true
                  networkAcls:
                    bypass: AzureServices
                    defaultAction: Allow
                    ipRules: []
                    virtualNetworkRules: []
                  primaryEndpoints:
                    blob: https://sto8596.blob.core.windows.net/
                    dfs: https://sto8596.dfs.core.windows.net/
                    file: https://sto8596.file.core.windows.net/
                    internetEndpoints:
                      blob: https://sto8596-internetrouting.blob.core.windows.net/
                      dfs: https://sto8596-internetrouting.dfs.core.windows.net/
                      file: https://sto8596-internetrouting.file.core.windows.net/
                      web: https://sto8596-internetrouting.web.core.windows.net/
                    microsoftEndpoints:
                      blob: https://sto8596-microsoftrouting.blob.core.windows.net/
                      dfs: https://sto8596-microsoftrouting.dfs.core.windows.net/
                      file: https://sto8596-microsoftrouting.file.core.windows.net/
                      queue: https://sto8596-microsoftrouting.queue.core.windows.net/
                      table: https://sto8596-microsoftrouting.table.core.windows.net/
                      web: https://sto8596-microsoftrouting.web.core.windows.net/
                    queue: https://sto8596.queue.core.windows.net/
                    table: https://sto8596.table.core.windows.net/
                    web: https://sto8596.web.core.windows.net/
                  primaryLocation: eastus2(stage)
                  provisioningState: Succeeded
                  routingPreference:
                    publishInternetEndpoints: true
                    publishMicrosoftEndpoints: true
                    routingChoice: MicrosoftRouting
                  secondaryLocation: northcentralus(stage)
                  statusOfPrimary: available
                  statusOfSecondary: available
                  supportsHttpsTrafficOnly: false
                sku:
                  name: Standard_GRS
                  tier: Standard
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Storage/storageAccounts
      summary: Azure Storage Accounts Storage Accounts_ Update
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      description: Asynchronously creates a new storage account with the specified parameters. If an account is already created and a subsequent create request is issued with different properties, the account properties will be updated. If an account is already created and a subsequent create or update request is issued with the exact same set of properties, the request will succeed.
      operationId: StorageAccounts_Create
      parameters:
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/StorageAccountName'
      - description: The parameters to provide for the created account.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/StorageAccountCreateParameters'
        example: example-value
      - description: The API version to use for this operation.
        in: query
        minLength: 1
        name: api-version
        required: true
        type: string
        example: '2019-06-01'
      - description: The ID of the target subscription.
        in: path
        minLength: 1
        name: subscriptionId
        required: true
        type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: OK -- returned when the storage account was already created from a previous request with the same properties specified in the request body.
          schema:
            $ref: '#/definitions/StorageAccount'
        '202':
          description: Accepted -- Create or update request accepted; operation will complete asynchronously.
      tags:
      - StorageAccounts
      x-ms-examples:
        StorageAccountCreate:
          parameters:
            accountName: sto4445
            api-version: '2019-06-01'
            parameters:
              kind: Storage
              location: eastus2euap
              properties:
                encryption:
                  keySource: Microsoft.Storage
                  services:
                    blob:
                      enabled: true
                      keyType: Account
                    file:
                      enabled: true
                      keyType: Account
                isHnsEnabled: true
                routingPreference:
                  publishInternetEndpoints: true
                  publishMicrosoftEndpoints: true
                  routingChoice: MicrosoftRouting
              sku:
                name: Standard_GRS
              tags:
                key1: value1
                key2: value2
            resourceGroupName: res9101
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                id: /subscriptions/{subscription-id}/resourceGroups/res9101/providers/Microsoft.Storage/storageAccounts/sto4445
                kind: Storage
                location: eastus2euap
                name: sto4445
                properties:
                  creationTime: '2017-05-24T13:25:33.4863236Z'
                  encryption:
                    keySource: Microsoft.Storage
                    services:
                      blob:
                        enabled: true
                        keyType: Account
                        lastEnabledTime: '2019-12-11T20:49:31.7036140Z'
                      file:
                        enabled: true
                        keyType: Account
                        lastEnabledTime: '2019-12-11T20:49:31.7036140Z'
                  isHnsEnabled: true
                  primaryEndpoints:
                    blob: https://sto4445.blob.core.windows.net/
                    dfs: https://sto4445.dfs.core.windows.net/
                    file: https://sto4445.file.core.windows.net/
                    internetEndpoints:
                      blob: https://sto4445-internetrouting.blob.core.windows.net/
                      dfs: https://sto4445-internetrouting.dfs.core.windows.net/
                      file: https://sto4445-internetrouting.file.core.windows.net/
                      web: https://sto4445-internetrouting.web.core.windows.net/
                    microsoftEndpoints:
                      blob: https://sto4445-microsoftrouting.blob.core.windows.net/
                      dfs: https://sto4445-microsoftrouting.dfs.core.windows.net/
                      file: https://sto4445-microsoftrouting.file.core.windows.net/
                      queue: https://sto4445-microsoftrouting.queue.core.windows.net/
                      table: https://sto4445-microsoftrouting.table.core.windows.net/
                      web: https://sto4445-microsoftrouting.web.core.windows.net/
                    queue: https://sto4445.queue.core.windows.net/
                    table: https://sto4445.table.core.windows.net/
                    web: https://sto4445.web.core.windows.net/
                  primaryLocation: eastus2euap
                  provisioningState: Succeeded
                  routingPreference:
                    publishInternetEndpoints: true
                    publishMicrosoftEndpoints: true
                    routingChoice: MicrosoftRouting
                  secondaryLocation: centraluseuap
                  statusOfPrimary: available
                  statusOfSecondary: available
                  supportsHttpsTrafficOnly: true
                sku:
                  name: Standard_GRS
                  tier: Standard
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Storage/storageAccounts
            '202': {}
      x-ms-long-running-operation: true
      summary: Azure Storage Accounts Storage Accounts_ Create
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/ListAccountSas
  : post:
      description: List SAS credentials of a storage account.
      operationId: StorageAccounts_ListAccountSAS
      parameters:
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/StorageAccountName'
      - description: The parameters to provide to list SAS credentials for the storage account.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/AccountSasParameters'
        example: example-value
      - description: The API version to use for this operation.
        in: query
        minLength: 1
        name: api-version
        required: true
        type: string
        example: '2019-06-01'
      - description: The ID of the target subscription.
        in: path
        minLength: 1
        name: subscriptionId
        required: true
        type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: OK -- returned the account SAS created for the storage account requested.
          schema:
            $ref: '#/definitions/ListAccountSasResponse'
      tags:
      - StorageAccounts
      x-ms-examples:
        StorageAccountListAccountSAS:
          parameters:
            accountName: sto8588
            api-version: '2019-06-01'
            monitor: 'true'
            parameters:
              keyToSign: key1
              signedExpiry: '2017-05-24T11:42:03.1567373Z'
              signedPermission: r
              signedProtocol: https,http
              signedResourceTypes: s
              signedServices: b
              signedStart: '2017-05-24T10:42:03.1567373Z'
            resourceGroupName: res7985
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                accountSasToken: sv=2015-04-05&ss=b&srt=s&sp=r&st=2017-05-24T10%3A42%3A03Z&se=2017-05-24T11%3A42%3A03Z&spr=https,http&sig=Z0I%2BEpM%2BPPlTC8ApfUf%2BcffO2aahMgZim3U0iArqsS0%3D
      summary: Azure Storage Accounts Storage Accounts_ List Account S a S
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/ListServiceSas
  : post:
      description: List service SAS credentials of a specific resource.
      operationId: StorageAccounts_ListServiceSAS
      parameters:
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/StorageAccountName'
      - description: The parameters to provide to list service SAS credentials.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/ServiceSasParameters'
        example: example-value
      - description: The API version to use for this operation.
        in: query
        minLength: 1
        name: api-version
        required: true
        type: string
        example: '2019-06-01'
      - description: The ID of the target subscription.
        in: path
        minLength: 1
        name: subscriptionId
        required: true
        type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: OK -- returned the service SAS created for the storage service requested.
          schema:
            $ref: '#/definitions/ListServiceSasResponse'
      tags:
      - StorageAccounts
      x-ms-examples:
        StorageAccountListServiceSAS:
          parameters:
            accountName: sto1299
            api-version: '2019-06-01'
            monitor: 'true'
            parameters:
              canonicalizedResource: /blob/sto1299/music
              signedExpiry: '2017-05-24T11:32:48.8457197Z'
              signedPermission: l
              signedResource: c
            resourceGroupName: res7439
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                serviceSasToken: sv=2015-04-05&sr=c&se=2017-05-24T11%3A32%3A48Z&sp=l&sig=PoF8yBUGixsjzwroLmw7vG3VbGz4KB2woZC2D4C2oio%3D
      summary: Azure Storage Accounts Storage Accounts_ List Service S a S
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/failover
  : post:
      description: Failover request can be triggered for a storage account in case of availability issues. The failover occurs from the storage account's primary cluster to secondary cluster for RA-GRS accounts. The secondary cluster will become primary after failover.
      operationId: StorageAccounts_Failover
      parameters:
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/StorageAccountName'
      - description: The API version to use for this operation.
        in: query
        minLength: 1
        name: api-version
        required: true
        type: string
        example: '2019-06-01'
      - description: The ID of the target subscription.
        in: path
        minLength: 1
        name: subscriptionId
        required: true
        type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: OK -- Returned when the storage account failover is completed, and the secondary cluster has become primary.
        '202':
          description: Accepted -- Failover request accepted; operation will complete asynchronously.
      tags:
      - StorageAccounts
      x-ms-examples:
        StorageAccountCreate:
          parameters:
            accountName: sto2434
            api-version: '2019-06-01'
            monitor: 'true'
            resourceGroupName: res4228
            subscriptionId: '{subscription-id}'
          responses:
            '200': {}
            '202': {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Azure Storage Accounts Storage Accounts_ Failover
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/listKeys
  : post:
      description: Lists the access keys or Kerberos keys (if active directory enabled) for the specified storage account.
      operationId: StorageAccounts_ListKeys
      parameters:
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/StorageAccountName'
      - description: The API version to use for this operation.
        in: query
        minLength: 1
        name: api-version
        required: true
        type: string
        example: '2019-06-01'
      - description: The ID of the target subscription.
        in: path
        minLength: 1
        name: subscriptionId
        required: true
        type: string
        example: 00000000-0000-0000-0000-000000000000
      - description: Specifies type of the key to be listed. Possible value is kerb.
        enum:
        - kerb
        in: query
        name: $expand
        required: false
        type: string
        x-ms-enum:
          name: ListKeyExpand
        example: example-value
      responses:
        '200':
          description: OK -- list of keys retrieved and returned successfully.
          schema:
            $ref: '#/definitions/StorageAccountListKeysResult'
      tags:
      - StorageAccounts
      x-ms-examples:
        StorageAccountListKeys:
          parameters:
            accountName: sto2220
            api-version: '2019-06-01'
            monitor: 'true'
            resourceGroupName: res418
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                keys:
                - keyName: key1
                  permissions: Full
                  value: nVF7aKIvr9mV/RM5lOD0sYoi8ThXTRHQP7o66hvUmjCDkPKR3qxPu/otJcNciz2aQdqPuzJH3ECG4TU2yZjQ7Q==
                - keyName: key2
                  permissions: Full
                  value: dNJvKnULO586Ji3nFzB7987TJs4ovnGZhyGXeiVQ75HZGPhBmBfe8lXrI7EfyATff6S5ucxffCoEAQOWbmPK/Q==
      summary: Azure Storage Accounts Storage Accounts_ List Keys
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/regenerateKey
  : post:
      description: Regenerates one of the access keys or Kerberos keys for the specified storage account.
      operationId: StorageAccounts_RegenerateKey
      parameters:
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/StorageAccountName'
      - description: Specifies name of the key which should be regenerated -- key1, key2, kerb1, kerb2.
        in: body
        name: regenerateKey
        required: true
        schema:
          $ref: '#/definitions/StorageAccountRegenerateKeyParameters'
        example: example-value
      - description: The API version to use for this operation.
        in: query
        minLength: 1
        name: api-version
        required: true
        type: string
        example: '2019-06-01'
      - description: The ID of the target subscription.
        in: path
        minLength: 1
        name: subscriptionId
        required: true
        type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: OK -- specified key regenerated successfully.
          schema:
            $ref: '#/definitions/StorageAccountListKeysResult'
      tags:
      - StorageAccounts
      x-ms-examples:
        StorageAccountRegenerateKerbKey:
          parameters:
            accountName: sto3539
            api-version: '2019-06-01'
            monitor: 'true'
            regenerateKey:
              keyName: kerb1
            resourceGroupName: res4167
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                keys:
                - keyName: key1
                  permissions: Full
                  value: 7xl+yQ4MrVpZCHspveCfy4f8jgTY1wv42gHO8k4bAX+EPvN4hY5uPau/bpofgeye+K9FtgvjkadkLISPfOxlMw==
                - keyName: key2
                  permissions: Full
                  value: uC+kyJ9/gT81E/+9I1Go4xtOe8sW5rdIm3n6PNIyQ5kGO5OpFq69aWnrn3jLeFIyItzpln9P392U0353RYKvbg==
                - keyName: kerb1
                  permissions: Full
                  value: 34EzDQuCw1lYBXCGioUybN9dCWSLLzQPdAbYRcLhM957Fy/6IlO/SkaeR9QXKhVgCt8anDq4wYmDcaZ5VXr2Tg==
        StorageAccountRegenerateKey:
          parameters:
            accountName: sto3539
            api-version: '2019-06-01'
            monitor: 'true'
            regenerateKey:
              keyName: key2
            resourceGroupName: res4167
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                keys:
                - keyName: key1
                  permissions: Full
                  value: 7xl+yQ4MrVpZCHspveCfy4f8jgTY1wv42gHO8k4bAX+EPvN4hY5uPau/bpofgeye+K9FtgvjkadkLISPfOxlMw==
                - keyName: key2
                  permissions: Full
                  value: uC+kyJ9/gT81E/+9I1Go4xtOe8sW5rdIm3n6PNIyQ5kGO5OpFq69aWnrn3jLeFIyItzpln9P392U0353RYKvbg==
      summary: Azure Storage Accounts Storage Accounts_ Regenerate Key
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/restoreBlobRanges
  : post:
      description: Restore blobs in the specified blob ranges
      operationId: StorageAccounts_RestoreBlobRanges
      parameters:
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/StorageAccountName'
      - description: The API version to use for this operation.
        in: query
        minLength: 1
        name: api-version
        required: true
        type: string
        example: '2019-06-01'
      - description: The ID of the target subscription.
        in: path
        minLength: 1
        name: subscriptionId
        required: true
        type: string
        example: 00000000-0000-0000-0000-000000000000
      - description: The parameters to provide for restore blob ranges.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/BlobRestoreParameters'
        example: example-value
      responses:
        '200':
          description: OK -- returned when blob ranges are restored completely with the same properties specified in the request body.
          schema:
            $ref: '#/definitions/BlobRestoreStatus'
        '202':
          description: Accepted -- Blob restore request accepted; operation will complete asynchronously.
          schema:
            $ref: '#/definitions/BlobRestoreStatus'
      tags:
      - StorageAccounts
      x-ms-examples:
        BlobRangesRestore:
          parameters:
            accountName: sto4445
            api-version: '2019-06-01'
            parameters:
              blobRanges:
              - endRange: container/blobpath2
                startRange: container/blobpath1
              - endRange: ''
                startRange: container2/blobpath3
              timeToRestore: '2019-04-20T15:30:00.0000000Z'
            resourceGroupName: res9101
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                parameters:
                  blobRanges:
                  - endRange: container/blobpath2
                    startRange: container/blobpath1
                  - endRange: ''
                    startRange: container2/blobpath3
                  timeToRestore: '2019-04-20T15:30:00.0000000Z'
                restoreId: '{restore_id}'
                status: Complete
            '202':
              body:
                parameters:
                  blobRanges:
                  - endRange: container/blobpath2
                    startRange: container/blobpath1
                  - endRange: ''
                    startRange: container2/blobpath3
                  timeToRestore: '2019-04-20T15:30:00.0000000Z'
                restoreId: '{restore_id}'
                status: InProgress
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Azure Storage Accounts Storage Accounts_ Restore Blob Ranges
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/revokeUserDelegationKeys
  : post:
      description: Revoke user delegation keys.
      operationId: StorageAccounts_RevokeUserDelegationKeys
      parameters:
      - $ref: '#/parameters/ResourceGroupName'
      - description: The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
        in: path
        maxLength: 24
        minLength: 3
        name: accountName
        required: true
        type: string
        example: example-value
      - description: The API version to use for this operation.
        in: query
        minLength: 1
        name: api-version
        required: true
        type: string
        example: '2019-06-01'
      - description: The ID of the target subscription.
        in: path
        minLength: 1
        name: subscriptionId
        required: true
        type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: OK -- revoke user delegation keys succeeded.
      tags:
      - StorageAccounts
      x-ms-examples:
        StorageAccountRevokeUserDelegationKeys:
          parameters:
            accountName: sto3539
            api-version: '2019-06-01'
            resourceGroupName: res4167
            subscriptionId: '{subscription-id}'
          responses:
            '200': {}
      summary: Azure Storage Accounts Storage Accounts_ Revoke User Delegation Keys
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
definitions:
  StorageAccountKey:
    description: An access key for the storage account.
    properties:
      keyName:
        description: Name of the key.
        readOnly: true
        type: string
      permissions:
        description: Permissions for the key -- read-only or full permissions.
        enum:
        - Read
        - Full
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: KeyPermission
      value:
        description: Base 64-encoded value of the key.
        readOnly: true
        type: string
  AccountSasParameters:
    description: The parameters to list SAS credentials of a storage account.
    properties:
      keyToSign:
        description: The key to sign the account SAS token with.
        type: string
      signedExpiry:
        description: The time at which the shared access signature becomes invalid.
        format: date-time
        type: string
        x-ms-client-name: SharedAccessExpiryTime
      signedIp:
        description: An IP address or a range of IP addresses from which to accept requests.
        type: string
        x-ms-client-name: IPAddressOrRange
      signedPermission:
        description: 'The signed permissions for the account SAS. Possible values include: Read (r), Write (w), Delete (d), List (l), Add (a), Create (c), Update (u) and Process (p).'
        enum:
        - r
        - d
        - w
        - l
        - a
        - c
        - u
        - p
        type: string
        x-ms-client-name: Permissions
        x-ms-enum:
          modelAsString: true
          name: Permissions
      signedProtocol:
        description: The protocol permitted for a request made with the account SAS.
        enum:
        - https,http
        - https
        type: string
        x-ms-client-name: Protocols
        x-ms-enum:
          modelAsString: false
          name: HttpProtocol
      signedResourceTypes:
        description: 'The signed resource types that are accessible with the account SAS. Service (s): Access to service-level APIs; Container (c): Access to container-level APIs; Object (o): Access to object-level APIs for blobs, queue messages, table entities, and files.'
        enum:
        - s
        - c
        - o
        type: string
        x-ms-client-name: ResourceTypes
        x-ms-enum:
          modelAsString: true
          name: SignedResourceTypes
      signedServices:
        description: 'The signed services accessible with the account SAS. Possible values include: Blob (b), Queue (q), Table (t), File (f).'
        enum:
        - b
        - q
        - t
        - f
        type: string
        x-ms-client-name: Services
        x-ms-enum:
          modelAsString: true
          name: Services
      signedStart:
        description: The time at which the SAS becomes valid.
        format: date-time
        type: string
        x-ms-client-name: SharedAccessStartTime
    required:
    - signedServices
    - signedResourceTypes
    - signedPermission
    - signedExpiry
  PrivateEndpoint:
    description: The Private Endpoint resource.
    properties:
      id:
        description: The ARM identifier for Private Endpoint
        readOnly: true
        type: string
  EncryptionService:
    description: A service that allows server-side encryption to be used.
    properties:
      enabled:
        description: A boolean indicating whether or not the service encrypts the data as it is stored.
        type: boolean
      keyType:
        description: Encryption key type to be used for the encryption service. 'Account' key type implies that an account-scoped encryption key will be used. 'Service' key type implies that a default service key is used.
        enum:
        - Service
        - Account
        type: string
        x-ms-enum:
          modelAsString: true
          name: KeyType
        x-ms-mutability:
        - create
        - read
      lastEnabledTime:
        description: Gets a rough estimate of the date/time when the encryption was last enabled by the user. Only returned when encryption is enabled. There might be some unencrypted blobs which were written after this time, as it is just a rough estimate.
        format: date-time
        readOnly: true
        type: string
  StorageAccountUpdateParameters:
    description: The parameters that can be provided when updating the storage account properties.
    properties:
      identity:
        $ref: '#/definitions/Identity'
        description: The identity of the resource.
      kind:
        description: Optional. Indicates the type of storage account. Currently only StorageV2 value supported by server.
        enum:
        - Storage
        - StorageV2
        - BlobStorage
        - FileStorage
        - BlockBlobStorage
        type: string
        x-ms-enum:
          modelAsString: true
          name: Kind
      properties:
        $ref: '#/definitions/StorageAccountPropertiesUpdateParameters'
        description: The parameters used when updating a storage account.
        x-ms-client-flatten: true
      sku:
        description: The SKU of the storage account.
        properties:
          name:
            description: The SKU name. Required for account creation; optional for update. Note that in older versions, SKU name was called accountType.
            enum:
            - Standard_LRS
            - Standard_GRS
            - Standard_RAGRS
            - Standard_ZRS
            - Premium_LRS
            - Premium_ZRS
            - Standard_GZRS
            - Standard_RAGZRS
            type: string
            x-ms-enum:
              modelAsString: true
              name: SkuName
          tier:
            description: The SKU tier. This is based on the SKU name.
            enum:
            - Standard
            - Premium
            readOnly: true
            type: string
            x-ms-enum:
              modelAsString: false
              name: SkuTier
        required:
        - name
      tags:
        additionalProperties:
          type: string
        description: Gets or sets a list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater in length than 128 characters and a value no greater in length than 256 characters.
        type: object
  PrivateEndpointConnectionProvisioningState:
    description: The current provisioning state.
    enum:
    - Succeeded
    - Creating
    - Deleting
    - Failed
    readOnly: true
    type: string
    x-ms-enum:
      modelAsString: true
      name: PrivateEndpointConnectionProvisioningState
  StorageAccountCreateParameters:
    description: The parameters used when creating a storage account.
    properties:
      identity:
        $ref: '#/definitions/Identity'
        description: The identity of the resource.
      kind:
        description: Required. Indicates the type of storage account.
        enum:
        - Storage
        - StorageV2
        - BlobStorage
        - FileStorage
        - BlockBlobStorage
        type: string
        x-ms-enum:
          modelAsString: true
          name: Kind
      location:
        description: Required. Gets or sets the location of the resource. This will be one of the supported and registered Azure Geo Regions (e.g. West US, East US, Southeast Asia, etc.). The geo region of a resource cannot be changed once it is created, but if an identical geo region is specified on update, the request will succeed.
        type: string
      properties:
        $ref: '#/definitions/StorageAccountPropertiesCreateParameters'
        description: The parameters used to create the storage account.
        x-ms-client-flatten: true
      sku:
        description: The SKU of the storage account.
        properties:
          name:
            description: The SKU name. Required for account creation; optional for update. Note that in older versions, SKU name was called accountType.
            enum:
            - Standard_LRS
            - Standard_GRS
            - Standard_RAGRS
            - Standard_ZRS
            - Premium_LRS
            - Premium_ZRS
            - Standard_GZRS
            - Standard_RAGZRS
            type: string
            x-ms-enum:
              modelAsString: true
              name: SkuName
          tier:
            description: The SKU tier. This is based on the SKU name.
            enum:
            - Standard
            - Premium
            readOnly: true
            type: string
            x-ms-enum:
              modelAsString: false
              name: SkuTier
        required:
        - name
      tags:
        additionalProperties:
          type: string
        description: Gets or sets a list of key value pairs that describe the resource. These tags can be used for viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key with a length no greater than 128 characters and a value with a length no greater than 256 characters.
        type: object
    required:
    - sku
    - kind
    - location
  BlobRestoreRange:
    description: Blob range
    properties:
      endRange:
        description: Blob end range. Empty means account end.
        type: string
      startRange:
        description: Blob start range. Empty means account start.
        type: string
    required:
    - startRange
    - endRange
  StorageAccount:
    allOf:
    - allOf:
      - properties:
          id:
            description: Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
            readOnly: true
            type: string
          name:
            description: The name of the resource
            readOnly: true
            type: string
          type:
            description: The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.
            readOnly: true
            type: string
        x-ms-azure-resource: true
      description: The resource model definition for a ARM tracked top level resource
      properties:
        location:
          description: The geo-location where the resource lives
          type: string
          x-ms-mutability:
          - read
          - create
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          type: object
          x-ms-mutability:
          - read
          - create
          - update
      required:
      - location
    description: The storage account.
    properties:
      identity:
        $ref: '#/definitions/Identity'
        description: The identity of the resource.
      kind:
        description: Gets the Kind.
        enum:
        - Storage
        - StorageV2
        - BlobStorage
        - FileStorage
        - BlockBlobStorage
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: Kind
      properties:
        $ref: '#/definitions/StorageAccountProperties'
        description: Properties of the storage account.
        x-ms-client-flatten: true
      sku:
        description: The SKU of the storage account.
        properties:
          name:
            description: The SKU name. Required for account creation; optional for update. Note that in older versions, SKU name was called accountType.
            enum:
            - Standard_LRS
            - Standard_GRS
            - Standard_RAGRS
            - Standard_ZRS
            - Premium_LRS
            - Premium_ZRS
            - Standard_GZRS
            - Standard_RAGZRS
            type: string
            x-ms-enum:
              modelAsString: true
              name: SkuName
          tier:
            description: The SKU tier. This is based on the SKU name.
            enum:
            - Standard
            - Premium
            readOnly: true
            type: string
            x-ms-enum:
              modelAsString: false
              name: SkuTier
        required:
        - name
  PrivateEndpointServiceConnectionStatus:
    description: The private endpoint connection status.
    enum:
    - Pending
    - Approved
    - Rejected
    type: string
    x-ms-enum:
      modelAsString: true
      name: PrivateEndpointServiceConnectionStatus
  IPRule:
    description: IP rule with specific IP or IP range in CIDR format.
    properties:
      action:
        default: Allow
        description: The action of IP ACL rule.
        enum:
        - Allow
        type: string
        x-ms-enum:
          modelAsString: false
          name: Action
      value:
        description: Specifies the IP or IP range in CIDR format. Only IPV4 address is allowed.
        type: string
        x-ms-client-name: IPAddressOrRange
    required:
    - value
  KeyVaultProperties:
    description: Properties of key vault.
    properties:
      keyname:
        description: The name of KeyVault key.
        type: string
        x-ms-client-name: KeyName
      keyvaulturi:
        description: The Uri of KeyVault.
        type: string
        x-ms-client-name: KeyVaultUri
      keyversion:
        description: The version of KeyVault key.
        type: string
        x-ms-client-name: KeyVersion
  GeoReplicationStats:
    description: Statistics related to replication for storage account's Blob, Table, Queue and File services. It is only available when geo-redundant replication is enabled for the storage account.
    properties:
      canFailover:
        description: A boolean flag which indicates whether or not account failover is supported for the account.
        readOnly: true
        type: boolean
      lastSyncTime:
        description: All primary writes preceding this UTC date/time value are guaranteed to be available for read operations. Primary writes following this point in time may or may not be available for reads. Element may be default value if value of LastSyncTime is not available, this can happen if secondary is offline or we are in bootstrap.
        format: date-time
        readOnly: true
        type: string
      status:
        description: 'The status of the secondary location. Possible values are: - Live: Indicates that the secondary location is active and operational. - Bootstrap: Indicates initial synchronization from the primary location to the secondary location is in progress.This typically occurs when replication is first enabled. - Unavailable: Indicates that the secondary location is temporarily unavailable.'
        enum:
        - Live
        - Bootstrap
        - Unavailable
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: GeoReplicationStatus
  CustomDomain:
    description: The custom domain assigned to this storage account. This can be set via Update.
    properties:
      name:
        description: Gets or sets the custom domain name assigned to the storage account. Name is the CNAME source.
        type: string
      useSubDomainName:
        description: Indicates whether indirect CName validation is enabled. Default value is false. This should only be set on updates.
        type: boolean
    required:
    - name
  AzureFilesIdentityBasedAuthentication:
    description: Settings for Azure Files identity based authentication.
    properties:
      activeDirectoryProperties:
        $ref: '#/definitions/ActiveDirectoryProperties'
        description: Required if choose AD.
      directoryServiceOptions:
        description: Indicates the directory service used.
        enum:
        - None
        - AADDS
        - AD
        type: string
        x-ms-enum:
          modelAsString: true
          name: DirectoryServiceOptions
    required:
    - directoryServiceOptions
  CheckNameAvailabilityResult:
    description: The CheckNameAvailability operation response.
    properties:
      message:
        description: Gets an error message explaining the Reason value in more detail.
        readOnly: true
        type: string
      nameAvailable:
        description: Gets a boolean value that indicates whether the name is available for you to use. If true, the name is available. If false, the name has already been taken or is invalid and cannot be used.
        readOnly: true
        type: boolean
      reason:
        description: Gets the reason that a storage account name could not be used. The Reason element is only returned if NameAvailable is false.
        enum:
        - AccountNameInvalid
        - AlreadyExists
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: Reason
  Encryption:
    description: The encryption settings on the storage account.
    properties:
      keySource:
        default: Microsoft.Storage
        description: 'The encryption keySource (provider). Possible values (case-insensitive):  Microsoft.Storage, Microsoft.Keyvault'
        enum:
        - Microsoft.Storage
        - Microsoft.Keyvault
        type: string
        x-ms-enum:
          modelAsString: true
          name: KeySource
      keyvaultproperties:
        $ref: '#/definitions/KeyVaultProperties'
        description: Properties provided by key vault.
        x-ms-client-name: KeyVaultProperties
      services:
        $ref: '#/definitions/EncryptionServices'
        description: List of services which support encryption.
    required:
    - keySource
  RoutingPreference:
    description: Routing preference defines the type of network, either microsoft or internet routing to be used to deliver the user data, the default option is microsoft routing
    properties:
      publishInternetEndpoints:
        description: A boolean flag which indicates whether internet routing storage endpoints are to be published
        type: boolean
      publishMicrosoftEndpoints:
        description: A boolean flag which indicates whether microsoft routing storage endpoints are to be published
        type: boolean
      routingChoice:
        description: Routing Choice defines the kind of network routing opted by the user.
        enum:
        - MicrosoftRouting
        - InternetRouting
        type: string
        x-ms-enum:
          modelAsString: true
          name: RoutingChoice
  VirtualNetworkRule:
    description: Virtual Network rule.
    properties:
      action:
        default: Allow
        description: The action of virtual network rule.
        enum:
        - Allow
        type: string
        x-ms-enum:
          modelAsString: false
          name: Action
      id:
        description: 'Resource ID of a subnet, for example: /subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.Network/virtualNetworks/{vnetName}/subnets/{subnetName}.'
        type: string
        x-ms-client-name: VirtualNetworkResourceId
      state:
        description: Gets the state of virtual network rule.
        enum:
        - provisioning
        - deprovisioning
        - succeeded
        - failed
        - networkSourceDeleted
        type: string
        x-ms-enum:
          modelAsString: false
          name: State
    required:
    - id
  EncryptionServices:
    description: A list of services that support encryption.
    properties:
      blob:
        $ref: '#/definitions/EncryptionService'
        description: The encryption function of the blob storage service.
      file:
        $ref: '#/definitions/EncryptionService'
        description: The encryption function of the file storage service.
      queue:
        $ref: '#/definitions/EncryptionService'
        description: The encryption function of the queue storage service.
      table:
        $ref: '#/definitions/EncryptionService'
        description: The encryption function of the table storage service.
  StorageAccountListResult:
    description: The response from the List Storage Accounts operation.
    properties:
      nextLink:
        description: Request URL that can be used to query next page of storage accounts. Returned when total number of requested storage accounts exceed maximum page size.
        readOnly: true
        type: string
      value:
        description: Gets the list of storage accounts and their properties.
        items:
          $ref: '#/definitions/StorageAccount'
        readOnly: true
        type: array
  StorageAccountListKeysResult:
    description: The response from the ListKeys operation.
    properties:
      keys:
        description: Gets the list of storage account keys and their properties for the specified storage account.
        items:
          $ref: '#/definitions/StorageAccountKey'
        readOnly: true
        type: array
  ServiceSasParameters:
    description: The parameters to list service SAS credentials of a specific resource.
    properties:
      canonicalizedResource:
        description: The canonical path to the signed resource.
        type: string
      endPk:
        description: The end of partition key.
        type: string
        x-ms-client-name: PartitionKeyEnd
      endRk:
        description: The end of row key.
        type: string
        x-ms-client-name: RowKeyEnd
      keyToSign:
        description: The key to sign the account SAS token with.
        type: string
      rscc:
        description: The response header override for cache control.
        type: string
        x-ms-client-name: CacheControl
      rscd:
        description: The response header override for content disposition.
        type: string
        x-ms-client-name: ContentDisposition
      rsce:
        description: The response header override for content encoding.
        type: string
        x-ms-client-name: ContentEncoding
      rscl:
        description: The response header override for content language.
        type: string
        x-ms-client-name: ContentLanguage
      rsct:
        description: The response header override for content type.
        type: string
        x-ms-client-name: ContentType
      signedExpiry:
        description: The time at which the shared access signature becomes invalid.
        format: date-time
        type: string
        x-ms-client-name: SharedAccessExpiryTime
      signedIdentifier:
        description: A unique value up to 64 characters in length that correlates to an access policy specified for the container, queue, or table.
        maxLength: 64
        type: string
        x-ms-client-name: Identifier
      signedIp:
        description: An IP address or a range of IP addresses from which to accept requests.
        type: string
        x-ms-client-name: IPAddressOrRange
      signedPermission:
        description: 'The signed permissions for the service SAS. Possible values include: Read (r), Write (w), Delete (d), List (l), Add (a), Create (c), Update (u) and Process (p).'
        enum:
        - r
        - d
        - w
        - l
        - a
        - c
        - u
        - p
        type: string
        x-ms-client-name: Permissions
        x-ms-enum:
          modelAsString: true
          name: Permissions
      signedProtocol:
        description: The protocol permitted for a request made with the account SAS.
        enum:
        - https,http
        - https
        type: string
        x-ms-client-name: Protocols
        x-ms-enum:
          modelAsString: false
          name: HttpProtocol
      signedResource:
        description: 'The signed services accessible with the service SAS. Possible values include: Blob (b), Container (c), File (f), Share (s).'
        enum:
        - b
        - c
        - f
        - s
        type: string
        x-ms-client-name: Resource
        x-ms-enum:
          modelAsString: true
          name: signedResource
      signedStart:
        description: The time at which the SAS becomes valid.
        format: date-time
        type: string
        x-ms-client-name: SharedAccessStartTime
      startPk:
        description: The start of partition key.
        type: string
        x-ms-client-name: PartitionKeyStart
      startRk:
        description: The start of row key.
        type: string
        x-ms-client-name: RowKeyStart
    required:
    - canonicalizedResource
  Endpoints:
    description: The URIs that are used to perform a retrieval of a public blob, queue, table, web or dfs object.
    properties:
      blob:
        description: Gets the blob endpoint.
        readOnly: true
        type: string
      dfs:
        description: Gets the dfs endpoint.
        readOnly: true
        type: string
      file:
        description: Gets the file endpoint.
        readOnly: true
        type: string
      internetEndpoints:
        $ref: '#/definitions/StorageAccountInternetEndpoints'
        description: Gets the internet routing storage endpoints
        x-ms-client-flatten: false
      microsoftEndpoints:
        $ref: '#/definitions/StorageAccountMicrosoftEndpoints'
        description: Gets the microsoft routing storage endpoints.
        x-ms-client-flatten: false
      queue:
        description: Gets the queue endpoint.
        readOnly: true
        type: string
      table:
        description: Gets the table endpoint.
        readOnly: true
        type: string
      web:
        description: Gets the web endpoint.
        readOnly: true
        type: string
  ListServiceSasResponse:
    description: The List service SAS credentials operation response.
    properties:
      serviceSasToken:
        description: List service SAS credentials of specific resource.
        readOnly: true
        type: string
  StorageAccountProperties:
    description: Properties of the storage account.
    properties:
      accessTier:
        description: Required for storage accounts where kind = BlobStorage. The access tier used for billing.
        enum:
        - Hot
        - Cool
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: AccessTier
      azureFilesIdentityBasedAuthentication:
        $ref: '#/definitions/AzureFilesIdentityBasedAuthentication'
        description: Provides the identity based authentication settings for Azure Files.
      blobRestoreStatus:
        $ref: '#/definitions/BlobRestoreStatus'
        description: Blob restore status
        readOnly: true
        x-ms-client-name: BlobRestoreStatus
      creationTime:
        description: Gets the creation date and time of the storage account in UTC.
        format: date-time
        readOnly: true
        type: string
      customDomain:
        $ref: '#/definitions/CustomDomain'
        description: Gets the custom domain the user assigned to this storage account.
        readOnly: true
      encryption:
        $ref: '#/definitions/Encryption'
        description: Gets the encryption settings on the account. If unspecified, the account is unencrypted.
        readOnly: true
      failoverInProgress:
        description: If the failover is in progress, the value will be true, otherwise, it will be null.
        readOnly: true
        type: boolean
        x-ms-client-name: FailoverInProgress
      geoReplicationStats:
        $ref: '#/definitions/GeoReplicationStats'
        description: Geo Replication Stats
        readOnly: true
        x-ms-client-name: GeoReplicationStats
      isHnsEnabled:
        description: Account HierarchicalNamespace enabled if sets to true.
        type: boolean
        x-ms-client-name: IsHnsEnabled
      largeFileSharesState:
        description: Allow large file shares if sets to Enabled. It cannot be disabled once it is enabled.
        enum:
        - Disabled
        - Enabled
        type: string
        x-ms-enum:
          modelAsString: true
          name: LargeFileSharesState
      lastGeoFailoverTime:
        description: Gets the timestamp of the most recent instance of a failover to the secondary location. Only the most recent timestamp is retained. This element is not returned if there has never been a failover instance. Only available if the accountType is Standard_GRS or Standard_RAGRS.
        format: date-time
        readOnly: true
        type: string
      networkAcls:
        $ref: '#/definitions/NetworkRuleSet'
        description: Network rule set
        readOnly: true
        x-ms-client-name: NetworkRuleSet
      primaryEndpoints:
        $ref: '#/definitions/Endpoints'
        description: Gets the URLs that are used to perform a retrieval of a public blob, queue, or table object. Note that Standard_ZRS and Premium_LRS accounts only return the blob endpoint.
        readOnly: true
      primaryLocation:
        description: Gets the location of the primary data center for the storage account.
        readOnly: true
        type: string
      privateEndpointConnections:
        description: List of private endpoint connection associated with the specified storage account
        items:
          $ref: '#/definitions/PrivateEndpointConnection'
        readOnly: true
        type: array
      provisioningState:
        description: Gets the status of the storage account at the time the operation was called.
        enum:
        - Creating
        - ResolvingDNS
        - Succeeded
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: ProvisioningState
      routingPreference:
        $ref: '#/definitions/RoutingPreference'
        description: Maintains information about the network routing choice opted by the user for data transfer
        x-ms-client-name: RoutingPreference
      secondaryEndpoints:
        $ref: '#/definitions/Endpoints'
        description: Gets the URLs that are used to perform a retrieval of a public blob, queue, or table object from the secondary location of the storage account. Only available if the SKU name is Standard_RAGRS.
        readOnly: true
      secondaryLocation:
        description: Gets the location of the geo-replicated secondary for the storage account. Only available if the accountType is Standard_GRS or Standard_RAGRS.
        readOnly: true
        type: string
      statusOfPrimary:
        description: Gets the status indicating whether the primary location of the storage account is available or unavailable.
        enum:
        - available
        - unavailable
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: AccountStatus
      statusOfSecondary:
        description: Gets the status indicating whether the secondary location of the storage account is available or unavailable. Only available if the SKU name is Standard_GRS or Standard_RAGRS.
        enum:
        - available
        - unavailable
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: AccountStatus
      supportsHttpsTrafficOnly:
        description: Allows https traffic only to storage service if sets to true.
        type: boolean
        x-ms-client-name: EnableHttpsTrafficOnly
  StorageAccountInternetEndpoints:
    description: The URIs that are used to perform a retrieval of a public blob, file, web or dfs object via a internet routing endpoint.
    properties:
      blob:
        description: Gets the blob endpoint.
        readOnly: true
        type: string
      dfs:
        description: Gets the dfs endpoint.
        readOnly: true
        type: string
      file:
        description: Gets the file endpoint.
        readOnly: true
        type: string
      web:
        description: Gets the web endpoint.
        readOnly: true
        type: string
  Identity:
    description: Identity for the resource.
    properties:
      principalId:
        description: The principal ID of resource identity.
        readOnly: true
        type: string
      tenantId:
        description: The tenant ID of resource.
        readOnly: true
        type: string
      type:
        description: The identity type.
        enum:
        - SystemAssigned
        type: string
        x-ms-enum:
          modelAsString: false
          name: IdentityType
    required:
    - type
  BlobRestoreParameters:
    description: Blob restore parameters
    properties:
      blobRanges:
        description: Blob ranges to restore.
        items:
          $ref: '#/definitions/BlobRestoreRange'
        type: array
      timeToRestore:
        description: Restore blob to the specified time.
        format: date-time
        type: string
    required:
    - timeToRestore
    - blobRanges
  StorageAccountCheckNameAvailabilityParameters:
    description: The parameters used to check the availability of the storage account name.
    properties:
      name:
        description: The storage account name.
        type: string
      type:
        description: The type of resource, Microsoft.Storage/storageAccounts
        enum:
        - Microsoft.Storage/storageAccounts
        type: string
        x-ms-enum:
          modelAsString: false
          name: Type
    required:
    - name
    - type
  PrivateLinkServiceConnectionState:
    description: A collection of information about the state of the connection between service consumer and provider.
    properties:
      actionRequired:
        description: A message indicating if changes on the service provider require any updates on the consumer.
        type: string
      description:
        description: The reason for approval/rejection of the connection.
        type: string
      status:
        $ref: '#/definitions/PrivateEndpointServiceConnectionStatus'
        description: Indicates whether the connection has been Approved/Rejected/Removed by the owner of the service.
  ActiveDirectoryProperties:
    description: Settings properties for Active Directory (AD).
    properties:
      azureStorageSid:
        description: Specifies the security identifier (SID) for Azure Storage.
        type: string
      domainGuid:
        description: Specifies the domain GUID.
        type: string
      domainName:
        description: Specifies the primary domain that the AD DNS server is authoritative for.
        type: string
      domainSid:
        description: Specifies the security identifier (SID).
        type: string
      forestName:
        description: Specifies the Active Directory forest to get.
        type: string
      netBiosDomainName:
        description: Specifies the NetBIOS domain name.
        type: string
    required:
    - domainName
    - netBiosDomainName
    - forestName
    - domainGuid
    - domainSid
    - azureStorageSid
  StorageAccountRegenerateKeyParameters:
    description: The parameters used to regenerate the storage account key.
    properties:
      keyName:
        description: The name of storage keys that want to be regenerated, possible values are key1, key2, kerb1, kerb2.
        type: string
    required:
    - keyName
  StorageAccountPropertiesCreateParameters:
    description: The parameters used to create the storage account.
    properties:
      accessTier:
        description: Required for storage accounts where kind = BlobStorage. The access tier used for billing.
        enum:
        - Hot
        - Cool
        type: string
        x-ms-enum:
          modelAsString: false
          name: AccessTier
      azureFilesIdentityBasedAuthentication:
        $ref: '#/definitions/AzureFilesIdentityBasedAuthentication'
        description: Provides the identity based authentication settings for Azure Files.
      customDomain:
        $ref: '#/definitions/CustomDomain'
        description: User domain assigned to the storage account. Name is the CNAME source. Only one custom domain is supported per storage account at this time. To clear the existing custom domain, use an empty string for the custom domain name property.
      encryption:
        $ref: '#/definitions/Encryption'
        description: Not applicable. Azure Storage encryption is enabled for all storage accounts and cannot be disabled.
      isHnsEnabled:
        description: Account HierarchicalNamespace enabled if sets to true.
        type: boolean
        x-ms-client-name: IsHnsEnabled
      largeFileSharesState:
        description: Allow large file shares if sets to Enabled. It cannot be disabled once it is enabled.
        enum:
        - Disabled
        - Enabled
        type: string
        x-ms-enum:
          modelAsString: true
          name: LargeFileSharesState
      networkAcls:
        $ref: '#/definitions/NetworkRuleSet'
        description: Network rule set
        x-ms-client-name: NetworkRuleSet
      routingPreference:
        $ref: '#/definitions/RoutingPreference'
        description: Maintains information about the network routing choice opted by the user for data transfer
        x-ms-client-name: RoutingPreference
      supportsHttpsTrafficOnly:
        description: Allows https traffic only to storage service if sets to true. The default value is true since API version 2019-04-01.
        type: boolean
        x-ms-client-name: EnableHttpsTrafficOnly
  ListAccountSasResponse:
    description: The List SAS credentials operation response.
    properties:
      accountSasToken:
        description: List SAS credentials of storage account.
        readOnly: true
        type: string
  PrivateEndpointConnectionProperties:
    description: Properties of the PrivateEndpointConnectProperties.
    properties:
      privateEndpoint:
        $ref: '#/definitions/PrivateEndpoint'
        description: The resource of private end point.
      privateLinkServiceConnectionState:
        $ref: '#/definitions/PrivateLinkServiceConnectionState'
        description: A collection of information about the state of the connection between service consumer and provider.
      provisioningState:
        $ref: '#/definitions/PrivateEndpointConnectionProvisioningState'
        description: The provisioning state of the private endpoint connection resource.
    required:
    - privateLinkServiceConnectionState
  StorageAccountPropertiesUpdateParameters:
    description: The parameters used when updating a storage account.
    properties:
      accessTier:
        description: Required for storage accounts where kind = BlobStorage. The access tier used for billing.
        enum:
        - Hot
        - Cool
        type: string
        x-ms-enum:
          modelAsString: false
          name: AccessTier
      azureFilesIdentityBasedAuthentication:
        $ref: '#/definitions/AzureFilesIdentityBasedAuthentication'
        description: Provides the identity based authentication settings for Azure Files.
      customDomain:
        $ref: '#/definitions/CustomDomain'
        description: Custom domain assigned to the storage account by the user. Name is the CNAME source. Only one custom domain is supported per storage account at this time. To clear the existing custom domain, use an empty string for the custom domain name property.
      encryption:
        $ref: '#/definitions/Encryption'
        description: Provides the encryption settings on the account. The default setting is unencrypted.
      largeFileSharesState:
        description: Allow large file shares if sets to Enabled. It cannot be disabled once it is enabled.
        enum:
        - Disabled
        - Enabled
        type: string
        x-ms-enum:
          modelAsString: true
          name: LargeFileSharesState
      networkAcls:
        $ref: '#/definitions/NetworkRuleSet'
        description: Network rule set
        x-ms-client-name: NetworkRuleSet
      routingPreference:
        $ref: '#/definitions/RoutingPreference'
        description: Maintains information about the network routing choice opted by the user for data transfer
        x-ms-client-name: RoutingPreference
      supportsHttpsTrafficOnly:
        description: Allows https traffic only to storage service if sets to true.
        type: boolean
        x-ms-client-name: EnableHttpsTrafficOnly
  StorageAccountMicrosoftEndpoints:
    description: The URIs that are used to perform a retrieval of a public blob, queue, table, web or dfs object via a microsoft routing endpoint.
    properties:
      blob:
        description: Gets the blob endpoint.
        readOnly: true
        type: string
      dfs:
        description: Gets the dfs endpoint.
        readOnly: true
        type: string
      file:
        description: Gets the file endpoint.
        readOnly: true
        type: string
      queue:
        description: Gets the queue endpoint.
        readOnly: true
        type: string
      table:
        description: Gets the table endpoint.
        readOnly: true
        type: string
      web:
        description: Gets the web endpoint.
        readOnly: true
        type: string
  PrivateEndpointConnection:
    allOf:
    - properties:
        id:
          description: Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
          readOnly: true
          type: string
        name:
          description: The name of the resource
          readOnly: true
          type: string
        type:
          description: The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.
          readOnly: true
          type: string
      x-ms-azure-resource: true
    description: The Private Endpoint Connection resource.
    properties:
      properties:
        $ref: '#/definitions/PrivateEndpointConnectionProperties'
        description: Resource properties.
        x-ms-client-flatten: true
  NetworkRuleSet:
    description: Network rule set
    properties:
      bypass:
        default: AzureServices
        description: Specifies whether traffic is bypassed for Logging/Metrics/AzureServices. Possible values are any combination of Logging|Metrics|AzureServices (For example, "Logging, Metrics"), or None to bypass none of those traffics.
        enum:
        - None
        - Logging
        - Metrics
        - AzureServices
        type: string
        x-ms-client-name: Bypass
        x-ms-enum:
          modelAsString: true
          name: Bypass
      defaultAction:
        default: Allow
        description: Specifies the default action of allow or deny when no other rules match.
        enum:
        - Allow
        - Deny
        type: string
        x-ms-enum:
          modelAsString: false
          name: DefaultAction
      ipRules:
        description: Sets the IP ACL rules
        items:
          $ref: '#/definitions/IPRule'
          description: IP rule with specific IP or IP range in CIDR format.
        type: array
      virtualNetworkRules:
        description: Sets the virtual network rules
        items:
          $ref: '#/definitions/VirtualNetworkRule'
          description: Virtual Network rule.
        type: array
    required:
    - defaultAction
  BlobRestoreStatus:
    description: Blob restore status.
    properties:
      failureReason:
        description: Failure reason when blob restore is failed.
        readOnly: true
        type: string
      parameters:
        $ref: '#/definitions/BlobRestoreParameters'
        description: Blob restore request parameters.
        readOnly: true
      restoreId:
        description: Id for tracking blob restore request.
        readOnly: true
        type: string
      status:
        description: 'The status of blob restore progress. Possible values are: - InProgress: Indicates that blob restore is ongoing. - Complete: Indicates that blob restore has been completed successfully. - Failed: Indicates that blob restore is failed.'
        enum:
        - InProgress
        - Complete
        - Failed
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: BlobRestoreProgressStatus
parameters:
  ResourceGroupName:
    description: The name of the resource group within the user's subscription. The name is case insensitive.
    in: path
    maxLength: 90
    minLength: 1
    name: resourceGroupName
    pattern: ^[-\w\._\(\)]+$
    required: true
    type: string
    x-ms-parameter-location: method
  StorageAccountName:
    description: The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    in: path
    maxLength: 24
    minLength: 3
    name: accountName
    required: true
    type: string
    x-ms-parameter-location: method
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
