openapi: 3.2.0
info:
  description: The Azure Storage Management API.
  title: StorageManagementClient Blob Service API
  version: '2019-06-01'
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/blob.json
    version: '2.0'
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: storage-blob
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: BlobService
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices
  : get:
      description: List blob services of storage account. It returns a collection of one object named default.
      operationId: BlobServices_List
      parameters:
      - description: The name of the resource group within the user's subscription. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        x-ms-parameter-location: method
        example: my-resource-group
        schema:
          type: string
          maxLength: 90
          minLength: 1
          pattern: ^[-\w\._\(\)]+$
      - description: The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
        in: path
        name: accountName
        required: true
        x-ms-parameter-location: method
        example: example-value
        schema:
          type: string
          maxLength: 24
          minLength: 3
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        example: '2019-06-01'
        schema:
          type: string
          minLength: 1
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        example: 00000000-0000-0000-0000-000000000000
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK -- List blob services operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlobServiceItems'
      tags:
      - BlobService
      x-ms-examples:
        ListBlobServices:
          parameters:
            accountName: sto8607
            api-version: '2019-06-01'
            monitor: 'true'
            resourceGroupName: res4410
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                value:
                - id: /subscriptions/{subscription-id}/resourceGroups/res4410/providers/Microsoft.Storage/storageAccounts/sto8607/blobServices/default
                  name: default
                  properties:
                    automaticSnapshotPolicyEnabled: true
                    changeFeed:
                      enabled: true
                    cors:
                      corsRules:
                      - allowedHeaders:
                        - x-ms-meta-abc
                        - x-ms-meta-data*
                        - x-ms-meta-target*
                        allowedMethods:
                        - GET
                        - HEAD
                        - POST
                        - OPTIONS
                        - MERGE
                        - PUT
                        allowedOrigins:
                        - http://www.contoso.com
                        - http://www.fabrikam.com
                        exposedHeaders:
                        - x-ms-meta-*
                        maxAgeInSeconds: 100
                      - allowedHeaders:
                        - '*'
                        allowedMethods:
                        - GET
                        allowedOrigins:
                        - '*'
                        exposedHeaders:
                        - '*'
                        maxAgeInSeconds: 2
                      - allowedHeaders:
                        - x-ms-meta-12345675754564*
                        allowedMethods:
                        - GET
                        - PUT
                        allowedOrigins:
                        - http://www.abc23.com
                        - https://www.fabrikam.com/*
                        exposedHeaders:
                        - x-ms-meta-abc
                        - x-ms-meta-data*
                        - x -ms-meta-target*
                        maxAgeInSeconds: 2000
                    defaultServiceVersion: '2017-07-29'
                    deleteRetentionPolicy:
                      days: 300
                      enabled: true
                  sku:
                    name: Standard_GRS
                    tier: Standard
                  type: Microsoft.Storage/storageAccounts/blobServices
      x-ms-pageable:
        nextLinkName: null
      summary: Azure Storage Accounts Blob Services_ List
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/{BlobServicesName}
  : get:
      description: Gets the properties of a storage account’s Blob service, including properties for Storage Analytics and CORS (Cross-Origin Resource Sharing) rules.
      operationId: BlobServices_GetServiceProperties
      parameters:
      - description: The name of the resource group within the user's subscription. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        x-ms-parameter-location: method
        example: my-resource-group
        schema:
          type: string
          maxLength: 90
          minLength: 1
          pattern: ^[-\w\._\(\)]+$
      - description: The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
        in: path
        name: accountName
        required: true
        x-ms-parameter-location: method
        example: example-value
        schema:
          type: string
          maxLength: 24
          minLength: 3
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        example: '2019-06-01'
        schema:
          type: string
          minLength: 1
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        example: 00000000-0000-0000-0000-000000000000
        schema:
          type: string
          minLength: 1
      - $ref: '#/components/parameters/BlobServicesName'
      responses:
        '200':
          description: OK -- returned the properties of a storage account’s Blob service.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlobServiceProperties'
      tags:
      - BlobService
      x-ms-examples:
        GetBlobServices:
          parameters:
            BlobServicesName: default
            accountName: sto8607
            api-version: '2019-06-01'
            monitor: 'true'
            resourceGroupName: res4410
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                id: /subscriptions/{subscription-id}/resourceGroups/res4410/providers/Microsoft.Storage/storageAccounts/sto8607/blobServices/default
                name: default
                properties:
                  automaticSnapshotPolicyEnabled: true
                  changeFeed:
                    enabled: true
                  cors:
                    corsRules:
                    - allowedHeaders:
                      - x-ms-meta-abc
                      - x-ms-meta-data*
                      - x-ms-meta-target*
                      allowedMethods:
                      - GET
                      - HEAD
                      - POST
                      - OPTIONS
                      - MERGE
                      - PUT
                      allowedOrigins:
                      - http://www.contoso.com
                      - http://www.fabrikam.com
                      exposedHeaders:
                      - x-ms-meta-*
                      maxAgeInSeconds: 100
                    - allowedHeaders:
                      - '*'
                      allowedMethods:
                      - GET
                      allowedOrigins:
                      - '*'
                      exposedHeaders:
                      - '*'
                      maxAgeInSeconds: 2
                    - allowedHeaders:
                      - x-ms-meta-12345675754564*
                      allowedMethods:
                      - GET
                      - PUT
                      allowedOrigins:
                      - http://www.abc23.com
                      - https://www.fabrikam.com/*
                      exposedHeaders:
                      - x-ms-meta-abc
                      - x-ms-meta-data*
                      - x -ms-meta-target*
                      maxAgeInSeconds: 2000
                  defaultServiceVersion: '2017-07-29'
                  deleteRetentionPolicy:
                    days: 300
                    enabled: true
                sku:
                  name: Standard_GRS
                  tier: Standard
                type: Microsoft.Storage/storageAccounts/blobServices
      summary: Azure Storage Accounts Blob Services_ Get Service Properties
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      description: Sets the properties of a storage account’s Blob service, including properties for Storage Analytics and CORS (Cross-Origin Resource Sharing) rules.
      operationId: BlobServices_SetServiceProperties
      parameters:
      - description: The name of the resource group within the user's subscription. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        x-ms-parameter-location: method
        example: my-resource-group
        schema:
          type: string
          maxLength: 90
          minLength: 1
          pattern: ^[-\w\._\(\)]+$
      - description: The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
        in: path
        name: accountName
        required: true
        x-ms-parameter-location: method
        example: example-value
        schema:
          type: string
          maxLength: 24
          minLength: 3
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        example: '2019-06-01'
        schema:
          type: string
          minLength: 1
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        example: 00000000-0000-0000-0000-000000000000
        schema:
          type: string
          minLength: 1
      - $ref: '#/components/parameters/BlobServicesName'
      responses:
        '200':
          description: OK -- Sets The properties of a storage account’s Blob service successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlobServiceProperties'
      tags:
      - BlobService
      x-ms-examples:
        PutBlobServices:
          parameters:
            BlobServicesName: default
            accountName: sto8607
            api-version: '2019-06-01'
            monitor: 'true'
            parameters:
              properties:
                automaticSnapshotPolicyEnabled: true
                changeFeed:
                  enabled: true
                cors:
                  corsRules:
                  - allowedHeaders:
                    - x-ms-meta-abc
                    - x-ms-meta-data*
                    - x-ms-meta-target*
                    allowedMethods:
                    - GET
                    - HEAD
                    - POST
                    - OPTIONS
                    - MERGE
                    - PUT
                    allowedOrigins:
                    - http://www.contoso.com
                    - http://www.fabrikam.com
                    exposedHeaders:
                    - x-ms-meta-*
                    maxAgeInSeconds: 100
                  - allowedHeaders:
                    - '*'
                    allowedMethods:
                    - GET
                    allowedOrigins:
                    - '*'
                    exposedHeaders:
                    - '*'
                    maxAgeInSeconds: 2
                  - allowedHeaders:
                    - x-ms-meta-12345675754564*
                    allowedMethods:
                    - GET
                    - PUT
                    allowedOrigins:
                    - http://www.abc23.com
                    - https://www.fabrikam.com/*
                    exposedHeaders:
                    - x-ms-meta-abc
                    - x-ms-meta-data*
                    - x -ms-meta-target*
                    maxAgeInSeconds: 2000
                defaultServiceVersion: '2017-07-29'
                deleteRetentionPolicy:
                  days: 300
                  enabled: true
            resourceGroupName: res4410
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                id: /subscriptions/{subscription-id}/resourceGroups/res4410/providers/Microsoft.Storage/storageAccounts/sto8607/blobServices/default
                name: default
                properties:
                  automaticSnapshotPolicyEnabled: true
                  changeFeed:
                    enabled: true
                  cors:
                    corsRules:
                    - allowedHeaders:
                      - x-ms-meta-abc
                      - x-ms-meta-data*
                      - x-ms-meta-target*
                      allowedMethods:
                      - GET
                      - HEAD
                      - POST
                      - OPTIONS
                      - MERGE
                      - PUT
                      allowedOrigins:
                      - http://www.contoso.com
                      - http://www.fabrikam.com
                      exposedHeaders:
                      - x-ms-meta-*
                      maxAgeInSeconds: 100
                    - allowedHeaders:
                      - '*'
                      allowedMethods:
                      - GET
                      allowedOrigins:
                      - '*'
                      exposedHeaders:
                      - '*'
                      maxAgeInSeconds: 2
                    - allowedHeaders:
                      - x-ms-meta-12345675754564*
                      allowedMethods:
                      - GET
                      - PUT
                      allowedOrigins:
                      - http://www.abc23.com
                      - https://www.fabrikam.com/*
                      exposedHeaders:
                      - x-ms-meta-abc
                      - x-ms-meta-data*
                      - x -ms-meta-target*
                      maxAgeInSeconds: 2000
                  defaultServiceVersion: '2017-07-29'
                  deleteRetentionPolicy:
                    days: 300
                    enabled: true
                sku:
                  name: Standard_GRS
                  tier: Standard
                type: Microsoft.Storage/storageAccounts/blobServices
      summary: Azure Storage Accounts Blob Services_ Set Service Properties
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlobServiceProperties'
        description: The properties of a storage account’s Blob service, including properties for Storage Analytics and CORS (Cross-Origin Resource Sharing) rules.
        required: true
components:
  schemas:
    RestorePolicyProperties:
      description: The blob service properties for blob restore policy
      properties:
        days:
          description: how long this blob can be restored. It should be great than zero and less than DeleteRetentionPolicy.days.
          maximum: 365
          minimum: 1
          type: integer
        enabled:
          description: Blob restore is enabled if set to true.
          type: boolean
      required:
      - enabled
    ChangeFeed:
      description: The blob service properties for change feed events.
      properties:
        enabled:
          description: Indicates whether change feed event logging is enabled for the Blob service.
          type: boolean
    BlobServiceItems:
      properties:
        value:
          description: List of blob services returned.
          items:
            $ref: '#/components/schemas/BlobServiceProperties'
          readOnly: true
          type: array
    BlobServiceProperties:
      allOf:
      - properties:
          id:
            description: Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
            readOnly: true
            type: string
          name:
            description: The name of the resource
            readOnly: true
            type: string
          type:
            description: The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.
            readOnly: true
            type: string
        x-ms-azure-resource: true
      description: The properties of a storage account’s Blob service.
      properties:
        properties:
          description: The properties of a storage account’s Blob service.
          properties:
            automaticSnapshotPolicyEnabled:
              description: Automatic Snapshot is enabled if set to true.
              type: boolean
            changeFeed:
              $ref: '#/components/schemas/ChangeFeed'
              description: The blob service properties for change feed events.
            cors:
              description: 'Sets the CORS rules. You can include up to five CorsRule elements in the request. '
              properties:
                corsRules:
                  description: 'The List of CORS rules. You can include up to five CorsRule elements in the request. '
                  items:
                    description: Specifies a CORS rule for the Blob service.
                    properties:
                      allowedHeaders:
                        description: Required if CorsRule element is present. A list of headers allowed to be part of the cross-origin request.
                        items:
                          type: string
                        type: array
                      allowedMethods:
                        description: Required if CorsRule element is present. A list of HTTP methods that are allowed to be executed by the origin.
                        items:
                          enum:
                          - DELETE
                          - GET
                          - HEAD
                          - MERGE
                          - POST
                          - OPTIONS
                          - PUT
                          type: string
                        type: array
                      allowedOrigins:
                        description: Required if CorsRule element is present. A list of origin domains that will be allowed via CORS, or "*" to allow all domains
                        items:
                          type: string
                        type: array
                      exposedHeaders:
                        description: Required if CorsRule element is present. A list of response headers to expose to CORS clients.
                        items:
                          type: string
                        type: array
                      maxAgeInSeconds:
                        description: Required if CorsRule element is present. The number of seconds that the client/browser should cache a preflight response.
                        type: integer
                    required:
                    - allowedOrigins
                    - allowedMethods
                    - maxAgeInSeconds
                    - exposedHeaders
                    - allowedHeaders
                  type: array
            defaultServiceVersion:
              description: DefaultServiceVersion indicates the default version to use for requests to the Blob service if an incoming request’s version is not specified. Possible values include version 2008-10-27 and all more recent versions.
              type: string
            deleteRetentionPolicy:
              description: The service properties for soft delete.
              properties:
                days:
                  description: Indicates the number of days that the deleted item should be retained. The minimum specified value can be 1 and the maximum value can be 365.
                  maximum: 365
                  minimum: 1
                  type: integer
                enabled:
                  description: Indicates whether DeleteRetentionPolicy is enabled.
                  type: boolean
            restorePolicy:
              $ref: '#/components/schemas/RestorePolicyProperties'
              description: The blob service properties for blob restore policy.
          x-ms-client-flatten: true
          x-ms-client-name: BlobServiceProperties
        sku:
          description: The SKU of the storage account.
          properties:
            name:
              description: The SKU name. Required for account creation; optional for update. Note that in older versions, SKU name was called accountType.
              enum:
              - Standard_LRS
              - Standard_GRS
              - Standard_RAGRS
              - Standard_ZRS
              - Premium_LRS
              - Premium_ZRS
              - Standard_GZRS
              - Standard_RAGZRS
              type: string
              x-ms-enum:
                modelAsString: true
                name: SkuName
            tier:
              description: The SKU tier. This is based on the SKU name.
              enum:
              - Standard
              - Premium
              readOnly: true
              type: string
              x-ms-enum:
                modelAsString: false
                name: SkuTier
          required:
          - name
  parameters:
    BlobServicesName:
      description: The name of the blob Service within the specified storage account. Blob Service Name must be 'default'
      in: path
      name: BlobServicesName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
        - default
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
