swagger: '2.0'
info:
  description: The Azure Storage Management API.
  title: StorageManagementClient BlobContainers Skus API
  version: '2.0'
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/blob.json
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: storage-blob
  x-tags:
  - Azure
  - Microsoft
host: management.azure.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- azure_auth:
  - user_impersonation
tags:
- name: Skus
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Storage/skus:
    get:
      description: Lists the available SKUs supported by Microsoft.Storage for given subscription.
      operationId: Skus_List
      parameters:
      - description: The API version to use for this operation.
        in: query
        minLength: 1
        name: api-version
        required: true
        type: string
        example: '2019-06-01'
      - description: The ID of the target subscription.
        in: path
        minLength: 1
        name: subscriptionId
        required: true
        type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: OK -- List of storage SKUs in the given subscription retrieved and returned successfully.
          schema:
            $ref: '#/definitions/StorageSkuListResult'
      tags:
      - Skus
      x-ms-examples:
        SkuList:
          parameters:
            api-version: '2019-06-01'
            subscriptionId: '{subscription-id}'
          responses:
            '200':
              body:
                value:
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - eastus
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - eastus
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - eastus
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - eastus
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - eastus
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: 'false'
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - eastus
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - eastus
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - eastus
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - eastus2
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - eastus2
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - eastus2
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - eastus2
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - eastus2
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: 'true'
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - eastus2
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - eastus2
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - eastus2
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'true'
                  kind: Storage
                  locations:
                  - eastus2(stage)
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'true'
                  kind: Storage
                  locations:
                  - eastus2(stage)
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'true'
                  kind: Storage
                  locations:
                  - eastus2(stage)
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - eastus2(stage)
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsnetworkacls
                    value: 'true'
                  kind: Storage
                  locations:
                  - eastus2(stage)
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: 'false'
                  - name: supportschangenotification
                    value: 'true'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'true'
                  kind: BlobStorage
                  locations:
                  - eastus2(stage)
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: 'true'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'true'
                  kind: BlobStorage
                  locations:
                  - eastus2(stage)
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: 'true'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - eastus2(stage)
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - westus
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - westus
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - westus
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - westus
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - westus
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: 'false'
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - westus
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - westus
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - westus
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - westeurope
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - westeurope
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - westeurope
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - westeurope
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - westeurope
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: 'false'
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - westeurope
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - westeurope
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - westeurope
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - eastasia
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - eastasia
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - eastasia
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - eastasia
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - eastasia
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: 'false'
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - eastasia
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - eastasia
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - eastasia
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - southeastasia
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - southeastasia
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - southeastasia
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - southeastasia
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - southeastasia
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: 'false'
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - southeastasia
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - southeastasia
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - southeastasia
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - japaneast
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - japaneast
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - japaneast
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - japaneast
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - japaneast
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: 'false'
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - japaneast
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - japaneast
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - japaneast
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - japanwest
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - japanwest
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - japanwest
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - japanwest
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - japanwest
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: 'false'
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - japanwest
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - japanwest
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - japanwest
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - northcentralus
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - northcentralus
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - northcentralus
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - northcentralus
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - northcentralus
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: 'false'
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - northcentralus
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - northcentralus
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - northcentralus
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - southcentralus
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - southcentralus
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - southcentralus
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - southcentralus
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - southcentralus
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: 'false'
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - southcentralus
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - southcentralus
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - southcentralus
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - centralus
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - centralus
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - centralus
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - centralus
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - centralus
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: 'false'
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - centralus
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - centralus
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - centralus
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - northeurope
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - northeurope
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - northeurope
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - northeurope
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - northeurope
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: 'false'
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - northeurope
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - northeurope
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - northeurope
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - brazilsouth
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - brazilsouth
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - brazilsouth
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - brazilsouth
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - brazilsouth
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: 'false'
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - brazilsouth
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - brazilsouth
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - brazilsouth
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - australiaeast
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - australiaeast
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - australiaeast
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - australiaeast
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - australiaeast
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: 'false'
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - australiaeast
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - australiaeast
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - australiaeast
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - australiasoutheast
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - australiasoutheast
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - australiasoutheast
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - australiasoutheast
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - australiasoutheast
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: 'false'
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - australiasoutheast
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - australiasoutheast
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - australiasoutheast
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - southindia
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - southindia
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - southindia
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - southindia
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - southindia
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: 'false'
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - southindia
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - southindia
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - southindia
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - centralindia
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - centralindia
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - centralindia
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - centralindia
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - centralindia
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: 'false'
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - centralindia
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - centralindia
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - centralindia
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - westindia
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - westindia
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - westindia
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - westindia
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - westindia
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: 'false'
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - westindia
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - westindia
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - westindia
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - canadaeast
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - canadaeast
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - canadaeast
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - canadaeast
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - canadaeast
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: 'false'
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - canadaeast
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - canadaeast
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - canadaeast
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - canadacentral
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - canadacentral
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - canadacentral
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - canadacentral
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - canadacentral
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: 'false'
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - canadacentral
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - canadacentral
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: 'false'
                  - name: supportsfileencryption
                    value: 'false'
                  - name: supportshoeboxcapacitymetrics
                    value: 'false'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: BlobStorage
                  locations:
                  - canadacentral
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - westus2
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: 'true'
                  - name: supportshoeboxcapacitymetrics
                    value: 'true'
                  - name: supportsnetworkacls
                    value: 'false'
                  kind: Storage
                  locations:
                  - westus2
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
[...]
